{{#extends 'base'}}

{{#block 'content'}}
  <div class="banner">
    <img alt="" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/feeding-dog-1638177317.jpg?crop=0.667xw:1.00xh;0.176xw,0&resize=980:*">
    <div class="text">
      <h1 v-bind:style="styleObject">CONTACT US!</h1>
      <p>EMAIL: ABC@WOFILICIOUS.COM <br>
        ADDRESS: 123 ABC STREET SINGAPORE 123456 <br>
      </p>
      <h5>Follow us on Insta!</h5>
        <a href="https://www.instagram.com/pporscheee/">
          <i class="fa-brands fa-instagram-square"></i>
        </a>
    </div>   
  </div>
{{/block}}

{{/extends}}
