{{#extends 'base'}}

{{#block 'content'}}
<h1>Create New Product</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Add" class="create-btn btn-outline-secondary col-1 my-3"/>
</form>
{{/block}}

{{/extends}}
