{{#extends 'base'}}

{{#block 'content'}}
<div class="card" style="width: 18rem;">
    {{#each products}}
  <img src="this.image" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title text-black">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text">{{this.cost}}</p>
    <class="btn btn-outline-light btn-sm">Add to cart</a>
  </div>
</div>
{{/block}}

{{/extends}}
