{{#extends 'base'}}

{{#block 'content'}}
  <h1>Update Product: {{product.name}}</h1>
  <div class="form-holder" >
  <form method="POST" class="row">
      {{{form}}}
      <input type="submit" value="Done" class="create-btn btn-outline-secondary col-1 my-3"/>
  </form>
</div>
{{/block}}

{{/extends}}
